@{
    ViewBag.Title = "Mobile Screenshots";
}
<h1>Mobile screenshots</h1>

<h1>Android</h1>
<img src="../Content/Images/androidlogin.PNG" />
<img src="../Content/Images/androidNavigation.PNG" />
<img src="../Content/Images/androidRequest.PNG" />
<img src="../Content/Images/androidViewRequest.PNG" />
<br /><br/>
<h1>iOS</h1>
<img style="border: 1px solid black" src="../Content/Images/iOSLogin.PNG" />
<img style="border: 1px solid black" src="../Content/Images/iOSRegister.PNG" />
<img style="border: 1px solid black" src="../Content/Images/iOSNavigation.PNG" />
<img style="border: 1px solid black" src="../Content/Images/iOSManageRequests.PNG" />
<img style="border: 1px solid black" src="../Content/Images/iOSViewRequest.PNG" />