$red: #F44336;
$dark-red: #7c1f1f;
$light-red: #FF8F86;
$black: #232323;
$white: #F4F4F4;
$light-blue: #A0D9D9;



body{
    background-color: $white;
}

#page-wrapper {
    background-color: $white;
}

.side-nav {
    background-color: $dark-red;
}

.navbar {
    background-color: $dark-red;
    color: $white;
}



//Font
a{
    color: $white;
}