<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProcurableApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90E4C81B1C6A3F2300E632E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E4C8341C6A3F2300E632E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E4C83F1C6A3F2300E632E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
